.idea/.gitignore
.idea/crnn-mxnet-chinese-text-recognition.iml
.idea/git_toolbox_blame.xml
.idea/git_toolbox_prj.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/king.xml
.idea/inspectionProfiles/Project_Default.xml
.pytest_cache/v/cache/lastfailed
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/stepwise
.streamlit/*
.ropeproject/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
dist/*
build/*
predict-result*/*
eval_results/*
*/*.pyc
*.ckpt
*/*.ckpt
inference/*
runs/*
s1/*
tmp*/*
wandb/*
debug*/*
docs/fonts/*
docs/predict-outputs/*
data/*
*.onnx
*.jpg
*.png
*.jpeg
*.gif
*.zip
*.pyo
*.pyc
*.egg-info
fonts/*
cnocr.egg-info/dependency_links.txt
cnocr.egg-info/entry_points.txt
cnocr.egg-info/not-zip-safe
cnocr.egg-info/PKG-INFO
cnocr.egg-info/requires.txt
cnocr.egg-info/SOURCES.txt
cnocr.egg-info/top_level.txt
